body {
    transition: all 2s;
    /* Garante que o body ocupe a tela toda e remove margens */
    margin: 0;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    /* Opcional: esconde scrollbars se clicar perto da borda */
    overflow: hidden; 
    cursor: url('../Sprites/spider-web.png');
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    background-image: url('../Sprites/openart-image_ejj2z27-_1749786300393_raw.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*adicionar como segundo background o visor do spiderman com opacidade de 80%  e zIndex de 1*/
}
.danoTela {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 10%;
    background-color: rgb(224, 224, 224);
    transition: all 2s;
    display: none;
}

.click-effect {
    position: absolute; /* Essencial para posicionar onde o mouse clicou */
    width: 80px;        /* Tamanho inicial da imagem */
    pointer-events: none; /* Impede que a própria imagem seja clicável */
    
    /* Centraliza a imagem no cursor, em vez de começar pelo canto superior esquerdo */
    transform: translate(-50%, -50%); 
    
    /* Aplica a animação que definimos abaixo */
    animation: shrinkAndFade 3s ease-out forwards;
    z-index: 0;
}

@keyframes shrinkAndFade {
    /* Estado inicial: visível e no tamanho normal */
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    /* Estado final: encolhida e invisível */
    to {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        filter: blur(6px)
    }
}
.Tutorial img {
    height: 70px;
    width: 70px;
    background-color: none;
    position: absolute;
    border-radius: 100%;
    top: 17%;
    left: 38%;
    border: solid black 2px;
}
.tutorialBlock {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tutorial p {
    margin-top: -100px;
}
.Tutorial {
    border-radius: 16px;
    opacity: 78%;
    border: solid black 2px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: grey;
    height: 450px;
    width: 350px;
    top: 0;
}
.scoreBlock {
    z-index: 1;
    border: solid 2px rgb(180, 180, 180);
    color: rgb(177, 177, 177);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    left: 20px;
    border-radius: 12px;
    font-size: 12px;
    position: absolute;
    margin-top: 12px;
}
.Points p {
    margin-left: 8px;
}
.NavBar {
    background-color: black;
    position: absolute;
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.bloco {
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.GameName {
        box-shadow: 0px 0px 50px 10px rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.438);
        color: wheat;
        font-size: 26px;        
        transition: all 10s;
}
@keyframes TittleAnimation {
    0%{margin-top: -1%;}
    50%{margin-top: 1%;}
    100%{margin-top: -1%;}
}
.beltBlock {
    background-color: rgb(175, 1, 1);
    height: 60%;
    width: 60px;
    display: flex;
    right: 0;
    position: absolute;
    top: 20%;
    border-radius: 25px 0px 0px 25px;
    transition: all 300ms;
    border: solid 2px black;
    cursor: pointer;
    opacity: 96%;
    z-index: 99;
    box-shadow: 0px 0px 80px 10px black;
}
.beltBlock:hover {
    background-color: rgb(51, 51, 51);
    width: 300px;
    filter: blur(10px);
    opacity: 80%;
}
.BlockSimbol{
    width: 270px;
    height: 90px;
    cursor: pointer;
    margin-top: 90px;
    position: absolute;
    display: flex;
}
.BlockSimbol img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-left: 15px;
}
footer {
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 100;
}
.flask {
    opacity: 90%;
    border-radius: 100%;
    padding: 0;
    box-shadow: 0px 0px 50px 3px black;
    height: 22px;
    width: 22px;
    cursor: pointer;
    z-index: 1;
    position: absolute; /* Adicione esta linha para permitir top/left */
    top: 250px;         /* Mude de margin-top para top */
    left: 950px;        /* Mude de margin-left para left */

}
.flaskBlock {
    z-index: 5;
position: absolute;
}
/*Animação funcionando (so chmada apos um tempo no js)*/
.flaskAnimation {
    animation: flaskAnimation 1s  linear;
}
@keyframes flaskAnimation {
    0% {
    }
    50% {
    height: 70px;
    width: 70px;
    margin-left: -280px;
    margin-top: 100px;
    }
    100% {
    margin-top: 98px;
    margin-left: -278px;
    opacity: 80%;
    height: 80px;
    width: 80px;
    }
}
.DocOck {
    z-index: 0;
    cursor: pointer;
    height: 240px;
    width: 240px;
    animation:docOckAnimation 4s  infinite;
    animation: ockMovesSides  8s infinite;
    z-index: 1;
    filter: saturate(70%);
}

.spiderManImg {
    height: 290px;
    width: 290px;
    z-index: 99;
    filter: saturate(80%);
}
.SpiderMovesLeft {
        animation: SpiderMovesLeft 3s ease-in-out forwards;
}
@keyframes SpiderMovesLeft {
    0%{margin-left: 0px;}
    50%{margin-left: -170px;}
    100%{margin-left: -170px;}
}
.SpiderMovesRight {
        animation: SpiderMovesRight 3s ease-in-out forwards;
}
@keyframes SpiderMovesRight {
    0%{margin-left: 0px;}
    50%{margin-left: 170px;}
    100%{margin-left: 170px;}
}
.SpiderMovesStart {
        animation: SpiderMovesStart  3s ease-in-out;
}
@keyframes SpiderMovesStart {
    0%{margin-left: 0px;}
    50%{margin-left: 0px;}
    100%{margin-left: 0px;}
}
.SpiderManObj {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.docOckBlock {
    z-index: 6;
    position: absolute;
    margin-top: 180px;
    margin-left: 430px;
    height: 1px;
    width: 1px;
    text-align: center;
}
.life {
    border: solid 4px black;
    background-color: rgb(165, 0, 0);
    width: 0%;
    height: 20px;
    transition: all 5s;
}
.lifeBlock {
    position: absolute;
    width: 50%;
    height: 20px;
    z-index: 1;
    margin-top: 80px;
    margin-left: 25%;
    text-align: center;
}
.lifeBlock h2 {
    margin-left: 30px;
}
.hitAnimation {
    animation: hitAnimation 300ms ease-in-out;
}
.teleportAnimation {
    animation: teleportAnimation 1s ease-in-out;
}
.break {
    animation: breakItem 1s linear;
}
/* ao ser add ao flask trocar img para ele quebrando*/
@keyframes breakItem {
    0% {}
    50%{}
    100%{}
}
@keyframes hitAnimation{
    0% {

    }
    25% {
    }
    50% {
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        background-color: aliceblue;
        opacity: 50%;
        height: 1px;
        width: 1px;
    }
    100% {

    }
}
@keyframes docOckAnimation {
    0% {

    }
    50% {
        margin-top: 6%;
    }
    100% {
        top: 90px;
    }
}
/*ock animation game starts move sides*/
@keyframes ockMovesSides  {
    0%{margin-left: -430px;margin-top: 100px;}
    30%{margin-left: -430px; margin-top: 10px;}
    50%{margin-left: 600px; margin-top: 10px; height: 190px; width: 190px;}
    50%{z-index: 7;}
    100%{margin-left: -430px; margin-top: 100px;}
}

/*SpiderMan moves*/
.LeftFlip {
position: absolute;
width: 45%;
height: 100%;
z-index: 2;
}
.RightFlip {
position: absolute;
width: 45%;
height: 100%;
right: 0;
z-index: 2;
}
.flipped {
    transform: scaleX(-1);
}
/*.DocOck {
    z-index: 0;
    cursor: pointer;
    height: 250px;
    width: 250px;
    animation:docOckAnimation 4s  infinite;
    z-index: 1;
}
.docOckBlock {
    z-index: 1;
    position: absolute;
    margin: 150px;
    margin-left: 400px;
    height: 300px;
    width: 300px;
    text-align: center;
}*/
.coinBlock {

    width: 100%;
    position: absolute;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#coin {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 50px;
    opacity: 60%;
}
.coinAnimation {
    animation: coinAnimation 4s linear;
}
@keyframes coinAnimation {
    0%{bottom: 0;}
    50%{rotate: 360deg; margin-bottom: 15%;}
    100%{ bottom: 0; margin-left: 70%;}
}
.blackScreen {
    position: absolute;
    background-color: black;
    height: 120%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.blackScreen img {
    height: 100%;
    width: 100%;
}
.blackScreenAnimation {
    animation: blackScreenAnimation 700ms;
}
@keyframes blackScreenAnimation {
    0%{height: 10%; width: 7%;}
    50%{}
    100%{height: 100%; width: 100%;}
}